<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hydev.xposed.puretoast">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Toast 净化，使同内容 Toast 在 3s 内只显示一次；若无效，请在酷安私信 @Yaong，谢谢！" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>
</manifest>
